<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.ArticleMapper">
    <resultMap id="articleMap" type="com.brookezb.bhs.model.Article">
        <id property="aid" column="aid"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="picture" column="picture"/>
        <result property="content" column="content"/>
        <result property="commentabled" column="commentabled"/>
        <result property="appreciatabled" column="appreciatabled"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="status" column="status"/>
        <result property="views" column="views"/>
        <association property="user">
            <id property="uid" column="uid"/>
            <result property="name" column="username"/>
            <result property="avatar" column="avatar"/>
        </association>
        <association property="category">
            <id property="cid" column="cid"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="insert">
        insert into bhs_article(aid, uid, cid, title, description, picture, content, commentabled, appreciatabled,
                                created, status)
        values (#{aid}, #{uid}, #{category.cid}, #{title}, #{description}, #{picture}, #{content},
                #{commentabled}, #{appreciatabled}, #{created}, #{status})
    </insert>

    <insert id="insertTags">
        insert ignore into bhs_tag_relation(aid, tid)
        values
        <foreach collection="tags" item="tag" separator=",">
            (#{aid}, #{tag.tid})
        </foreach>
    </insert>

    <update id="update">
        update bhs_article
        set cid            = #{category.cid},
            title          = #{title},
            description    = #{description},
            picture        = #{picture},
            content        = #{content},
            commentabled   = #{commentabled},
            appreciatabled = #{appreciatabled},
            status         = #{status}
        where aid = #{aid}
    </update>

    <delete id="delete">
        delete
        from bhs_article
        where aid = #{aid}
    </delete>

    <delete id="deleteTagsNotInList">
        delete
        from bhs_tag_relation
        where aid = #{aid}
          and tid in
        (select tid from bhs_tag where name not in
        <foreach collection="tags" item="tag" open="(" close=")" separator=",">
            #{tag.name}
        </foreach>)
    </delete>

    <select id="selectById" resultMap="articleMap">
        select ba.*,
               bc.name,
               bu.name      as username,
               md5(bu.mail) as avatar
        from bhs_article ba
                 inner join bhs_category bc on ba.cid = bc.cid
                 inner join bhs_user bu on ba.uid = bu.uid
        where ba.aid = #{aid}
    </select>

    <select id="selectAll" resultMap="articleMap">
        select aid
        from bhs_article
        <where>
            <if test="cid != null">
                cid = #{cid}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectAllByTagName" resultMap="articleMap">
        select btr.aid
        from bhs_tag_relation btr
                 inner join bhs_tag bt on btr.tid = bt.tid
        where name = #{name}
    </select>

    <select id="selectCountByCategoryId" resultType="java.lang.Integer">
        select count(*)
        from bhs_article
        where cid = #{cid}
    </select>

    <select id="verifyArticle" resultType="java.lang.Integer">
        select aid
        from bhs_article
        where aid = #{aid}
    </select>

    <select id="selectUserById" resultType="com.brookezb.bhs.model.User">
        select bu.*
        from bhs_user bu
                 left join bhs_article ba on bu.uid = ba.uid
        where ba.aid = #{aid}
    </select>

    <select id="selectAllByIdList" resultType="com.brookezb.bhs.model.Article">
        select ba.*,
               bc.name,
               bu.name      as username,
               md5(bu.mail) as avatar
        from bhs_article ba
                 inner join bhs_category bc on ba.cid = bc.cid
                 inner join bhs_user bu on ba.uid = bu.uid
        where aid in
        <foreach collection="aids" item="aid" open="(" close=")">
            #{aid}
        </foreach>
    </select>
</mapper>
