<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.ArticleMapper">
    <resultMap id="articleMap" type="com.brookezb.bhs.model.Article">
        <id property="aid" column="aid"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="commentabled" column="commentabled"/>
        <result property="appreciatabled" column="appreciatabled"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="status" column="status"/>
        <result property="views" column="views"/>
        <association property="user">
            <id property="uid" column="uid"/>
            <result property="name" column="username"/>
            <result property="avatar" column="avatar"/>
            <result property="link" column="link"/>
        </association>
        <association property="category">
            <id property="cid" column="cid"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="insert">
        insert into bhs_article(aid, uid, cid, title, content, commentabled, appreciatabled,
                                created, status)
        values (#{aid}, #{uid}, #{category.cid}, #{title}, #{content},
                #{commentabled}, #{appreciatabled}, #{created}, #{status})
    </insert>

    <insert id="insertTags">
        insert ignore into bhs_tag_relation(aid, tid)
        values
        <foreach collection="tags" item="tag" separator=",">
            (#{aid}, #{tag.tid})
        </foreach>
    </insert>

    <update id="update">
        update bhs_article
        set cid            = #{category.cid},
            title          = #{title},
            content        = #{content},
            commentabled   = #{commentabled},
            appreciatabled = #{appreciatabled},
            status         = #{status}
        where aid = #{aid}
    </update>

    <update id="updateViews">
        update bhs_article
        set views = #{views}
        where aid = #{aid}
    </update>

    <delete id="delete">
        delete
        from bhs_article
        where aid = #{aid}
    </delete>

    <delete id="deleteTagsNotInList">
        delete
        from bhs_tag_relation
        where aid = #{aid}
          and tid in
        (select tid from bhs_tag where name not in
        <foreach collection="tags" item="tag" open="(" close=")" separator=",">
            #{tag.name}
        </foreach>)
    </delete>

    <select id="selectById" resultMap="articleMap">
        select ba.*,
               bc.name,
               bu.name      as username,
               md5(bu.mail) as avatar
        from bhs_article ba
                 inner join bhs_category bc on ba.cid = bc.cid
                 inner join bhs_user bu on ba.uid = bu.uid
        where ba.aid = #{aid}
    </select>

    <select id="selectAll" resultType="java.lang.Long">
        select ba.aid
        from bhs_article ba
                 left join bhs_tag_relation btr on btr.aid = ba.aid
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="cid != null">
                and cid = #{uid}
            </if>
            <if test="tid != null">
                and tid = #{tid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        group by ba.aid
    </select>

    <select id="selectAllByTagName" resultType="java.lang.Long">
        select ba.aid
        from bhs_article ba
                 inner join bhs_tag_relation btr on btr.aid = ba.aid
                 inner join bhs_tag bt on bt.tid = btr.tid
        where bt.name = #{name}
    </select>

    <select id="selectCountByCategoryId" resultType="java.lang.Integer">
        select count(*)
        from bhs_article
        where cid = #{cid}
    </select>

    <select id="selectUserById" resultType="com.brookezb.bhs.model.User">
        select bu.*
        from bhs_user bu
                 left join bhs_article ba on bu.uid = ba.uid
        where ba.aid = #{aid}
    </select>

    <select id="selectAllByIdList" resultMap="articleMap">
        select ba.aid,
               ba.uid,
               ba.cid,
               ba.title,
               ba.commentabled,
               ba.appreciatabled,
               ba.created,
               ba.modified,
               ba.status,
               ba.views,
               bc.name,
               bu.name      as username,
               md5(bu.mail) as avatar,
               bu.link
        from bhs_article ba
                 inner join bhs_category bc on ba.cid = bc.cid
                 inner join bhs_user bu on ba.uid = bu.uid
        where ba.aid in
        <foreach collection="list" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </select>

    <select id="selectAllTimeline" resultType="com.brookezb.bhs.entity.ArticleTimeline">
        select aid,
               title,
               created
        from bhs_article
        where status = 'PUBLISHED'
        order by created desc
    </select>

    <select id="selectViewsById" resultType="java.lang.Integer">
        select views
        from bhs_article
        where aid = #{aid}
    </select>

    <select id="verifyArticle" resultType="java.lang.Integer">
        select 1
        from bhs_article
        where aid = #{aid}
    </select>
</mapper>
