<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.CategoryMapper">
    <resultMap id="categoryMapper" type="com.brookezb.bhs.model.Category">
        <id property="cid" column="cid"/>
        <result property="name" column="name"/>
        <result property="parent" column="parent"/>
        <collection property="children" column="cid" select="selectByParent"/>
    </resultMap>

    <insert id="insert">
        insert ignore into bhs_category(name, parent)
        values (#{name}, #{parent})
    </insert>

    <update id="update">
        update ignore bhs_category
        set name   = #{name},
            parent = #{parent}
        where cid = #{cid}
    </update>

    <update id="removeParentByCid">
        update bhs_category
        set parent = null
        where parent = #{cid}
    </update>

    <delete id="delete">
        delete
        from bhs_category
        where cid = #{cid}
    </delete>

    <select id="selectById" resultMap="categoryMapper">
        select *
        from bhs_category
        where cid = #{cid}
    </select>

    <select id="selectAll" resultMap="categoryMapper">
        select *
        from bhs_category
        where parent is null
    </select>

    <select id="selectByName" resultMap="categoryMapper">
        select *
        from bhs_category
        where name = #{name}
    </select>

    <select id="selectByParent" resultMap="categoryMapper">
        select *
        from bhs_category
        where parent = #{parent}
    </select>

    <select id="verifyCategory" resultType="java.lang.Integer">
        select cid
        from bhs_category
        where cid = #{cid}
    </select>
</mapper>
