<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.CommentMapper">
    <resultMap id="CommentMap" type="com.brookezb.bhs.model.Comment">
        <id property="coid" column="coid"/>
        <result property="parent" column="parent"/>
        <result property="status" column="status"/>
        <result property="created" column="created"/>
        <result property="content" column="content"/>
        <result property="site" column="site"/>
        <result property="avatar" column="avatar"/>
        <result property="nickname" column="nickname"/>
        <result property="reply" column="reply"/>
        <result property="aid" column="aid"/>
        <collection property="children" columnPrefix="c_">
            <id property="coid" column="coid"/>
            <result property="parent" column="parent"/>
            <result property="status" column="status"/>
            <result property="created" column="created"/>
            <result property="content" column="content"/>
            <result property="site" column="site"/>
            <result property="avatar" column="avatar"/>
            <result property="nickname" column="nickname"/>
            <result property="reply" column="reply"/>
            <result property="aid" column="aid"/>
        </collection>
    </resultMap>

    <insert id="insert">
        insert into bhs_comment(coid, aid, nickname, email, site, ip, content, parent, reply)
        values (#{coid}, #{aid}, #{nickname}, #{email}, #{site}, #{ip}, #{content}, #{parent}, #{reply})
    </insert>

    <update id="update">
        update bhs_comment
        set nickname = #{nickname},
            email    = #{email},
            site     = #{site},
            content  = #{content}
        where coid = #{coid}
    </update>

    <update id="updateStatus">
        update bhs_comment
        set status = #{status}
        where coid = #{coid}
    </update>

    <update id="updateStatusList">
        update bhs_comment
        set status = #{status}
        where coid in
        <foreach collection="coids" item="coid" open="(" close=")" separator=",">
            #{coid}
        </foreach>
    </update>

    <delete id="delete">
        delete
        from bhs_comment
        where coid = #{coid}
    </delete>

    <delete id="deleteList">
        delete
        from bhs_comment
        where coid in
        <foreach collection="list" item="coid" open="(" close=")" separator=",">
            #{coid}
        </foreach>
        and parent in
        <foreach collection="list" item="coid" open="(" close=")" separator=",">
            #{coid}
        </foreach>
    </delete>

    <select id="selectById" resultType="com.brookezb.bhs.model.Comment">
        select coid,
               aid,
               nickname,
               md5(email) as avatar,
               site,
               content,
               created,
               status,
               parent,
               reply
        <if test="isAdmin == true">
            ,email
            ,ip
        </if>
        from bhs_comment
        <where>
            coid = #{coid}
            <if test="isAdmin != true">
                and status = 'PUBLISHED'
            </if>
        </where>
    </select>

    <select id="selectAll" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        <where>
            <if test="aid != null">
                and aid = #{aid}
            </if>
            <if test="ip != null">
                and ip = #{aid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectAllByArticleId" resultType="java.lang.Long">
        select coid
        from bhs_comment
        where aid = #{aid}
          and status = 'PUBLISHED'
    </select>

    <select id="selectAllByNickname" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        where nickname = #{name}
    </select>

    <select id="selectAllByIp" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        where ip = #{ip}
    </select>

    <select id="selectAllByIdList" resultMap="CommentMap">
        select bc1.*,
               bc1.coid,
               bc1.aid,
               bc1.nickname,
               md5(bc1.email) as avatar,
               bc1.site,
               bc1.content,
               bc1.created,
               bc1.parent,
               bc1.reply,
               bc2.coid       as c_coid,
               bc2.aid        as c_aid,
               bc2.nickname   as c_nickname,
               md5(bc2.email) as c_avatar,
               bc2.site       as c_site,
               bc2.content    as c_content,
               bc2.created    as c_created,
               bc2.parent     as c_parent,
               bc2.reply      as c_reply
        from bhs_comment bc1
                 left join bhs_comment bc2 on bc1.coid = bc2.parent
        where bc1.coid in
        <foreach collection="list" item="coid" open="(" close=")" separator=",">
            #{coid}
        </foreach>
    </select>

    <select id="selectTrustEmail" resultType="java.lang.String">
        select email
        from bhs_trust_email
        where email = #{email}
    </select>

    <select id="verifyComment" resultType="java.lang.Integer">
        select 1
        from bhs_comment
        where coid = #{coid}
    </select>
</mapper>
