<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.CommentMapper">
    <resultMap id="ArticleCommentMap" type="com.brookezb.bhs.model.Comment">
        <id property="coid" column="coid"/>
        <result property="parent" column="parent"/>
        <result property="status" column="status"/>
        <result property="created" column="created"/>
        <result property="content" column="content"/>
        <result property="site" column="site"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="reply" column="reply"/>
        <result property="aid" column="aid"/>
        <collection property="children" column="coid" select="selectAllByParent"/>
    </resultMap>

    <insert id="insert">
        insert into bhs_comment(coid, aid, nickname, email, site, ip, content, parent, reply)
        values (#{coid}, #{aid}, #{nickname}, #{email}, #{site}, #{ip}, #{content}, #{parent}, #{reply})
    </insert>

    <update id="update">
        update bhs_comment
        set nickname = #{nickname},
            email    = #{email},
            site     = #{site},
            content  = #{content}
        where coid = #{coid}
    </update>

    <update id="updateStatus">
        update bhs_comment
        set status = #{status}
        where coid = #{coid}
    </update>

    <delete id="delete">
        delete
        from bhs_comment
        where coid = #{coid}
    </delete>

    <delete id="deleteList">
        delete
        from bhs_comment
        where coid in
        <foreach collection="list" item="coid" separator="," open="(" close=")">
            #{coid}
        </foreach>
    </delete>

    <select id="selectById" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        where coid = #{coid}
    </select>

    <select id="selectAll" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        <where>
            <if test="status != null">
                status = #{status}
            </if>
        </where>
    </select>

    <select id="selectAllByArticleId" resultMap="ArticleCommentMap">
        select *
        from bhs_comment
        where aid = #{aid}
          and status = 'PUBLISHED'
    </select>

    <select id="selectAllByNickname" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        where nickname = #{name}
    </select>

    <select id="selectAllByIp" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        where ip = #{ip}
    </select>

    <select id="selectAllByParent" resultType="com.brookezb.bhs.model.Comment">
        select *
        from bhs_comment
        where parent = #{parent}
    </select>

    <select id="selectTrustEmail" resultType="java.lang.String">
        select email
        from bhs_trust_email
        where email = #{email}
    </select>

    <select id="verifyComment" resultType="java.lang.Integer">
        select coid
        from bhs_comment
        where coid = #{coid}
    </select>
</mapper>
