<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.brookezb.bhs.model.Role">
        <id property="rid" column="rid"/>
        <result property="name" column="name"/>
        <collection property="permissions" ofType="string">
            <result column="permission"/>
        </collection>
    </resultMap>

    <insert id="insert">
        insert ignore into bhs_role(name)
        values (#{name})
    </insert>

    <insert id="insertPermissionList">
        insert ignore into bhs_role_permission(rid, permission) values
        <foreach collection="permissions" item="permission" separator=",">
            (#{rid}, #{permission})
        </foreach>
    </insert>

    <update id="update">
        update bhs_role
        set name = #{name}
        where rid = #{rid}
    </update>

    <delete id="delete">
        delete
        from bhs_role
        where rid = #{rid}
    </delete>

    <delete id="deletePermissionsById">
        delete
        from bhs_role_permission
        where rid = #{rid}
    </delete>

    <delete id="deletePermissionsByIdList">
        delete
        from bhs_role_permission
        where rid in
        <foreach collection="list" item="rid" open="(" close=")" separator=",">
            #{rid}
        </foreach>
    </delete>

    <delete id="deletePermissionNotInList">
        delete
        from bhs_role_permission
        where rid = #{rid}
        <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(permissions)">
            and permission not in
            <foreach collection="permissions" item="permission" open="(" close=")" separator=",">
                #{permission}
            </foreach>
        </if>
    </delete>

    <select id="selectById" resultMap="roleMap">
        select br.rid, br.name, brp.permission
        from bhs_role br
                 inner join bhs_role_permission brp on br.rid = brp.rid
        where br.rid = #{rid}
    </select>

    <select id="selectByName" resultType="com.brookezb.bhs.model.Role">
        select *
        from bhs_role
        where name = #{name}
    </select>

    <select id="selectAll" resultType="long">
        select rid
        from bhs_role
    </select>

    <select id="selectAllByIdList" resultMap="roleMap">
        select br.rid, br.name, brp.permission
        from bhs_role br
                 inner join bhs_role_permission brp on br.rid = brp.rid
        where br.rid in
        <foreach collection="list" item="rid" open="(" close=")" separator=",">
            #{rid}
        </foreach>
    </select>

    <select id="verifyRole" resultType="java.lang.Integer">
        select 1
        from bhs_role
        where rid = #{rid}
    </select>
</mapper>
