<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.brookezb.bhs.mapper.RoleMapper">
    <resultMap id="roleMap" type="top.brookezb.bhs.model.Role">
        <id property="rid" column="rid"/>
        <result property="name" column="name"/>
        <collection property="permissions" column="permission"/>
    </resultMap>

    <insert id="insert">
        insert into bhs_role(name)
        values (#{name})
    </insert>

    <insert id="insertPermissionList">
        insert ignore into bhs_role_permission(rid, permission) values
        <foreach collection="permissions" item="permission" separator=",">
            (#{rid}, #{permission})
        </foreach>
    </insert>

    <update id="update">
        update bhs_role
        set name = #{name}
        where rid = #{rid}
    </update>

    <delete id="delete">
        delete
        from bhs_role
        where rid = #{rid}
    </delete>

    <delete id="deleteList">
        delete
        from bhs_role
        where rid in
        <foreach collection="rids" item="rid" open="(" close=")" separator=",">
            #{rid}
        </foreach>
    </delete>

    <delete id="deletePermissionNotInList">
        delete
        from bhs_role_permission
        where rid = #{rid}
          and permission not in
        <foreach collection="permissions" item="permission" open="(" close=")" separator=",">
            #{permission}
        </foreach>
    </delete>

    <select id="selectById" resultMap="roleMap">
        select br.rid, br.name, brp.permission
        from bhs_role br
                 inner join bhs_role_permission brp on br.rid = brp.rid
        where br.rid = #{rid}
    </select>

    <select id="selectAll" resultMap="roleMap">
        select br.rid, br.name, brp.permission
        from bhs_role br
                 inner join bhs_role_permission brp on br.rid = brp.rid
    </select>
</mapper>
