<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.brookezb.bhs.mapper.TestMapper">

    <select id="getTest" resultType="top.brookezb.bhs.model.TestEntity">
        select tid, test
        from test
        where tid = #{tid}
    </select>

    <select id="getTestList" resultType="top.brookezb.bhs.model.TestEntity">
        select tid, test
        from test
    </select>

    <insert id="insertTest" flushCache="true">
        insert into test (tid, test)
        values(#{tid}, #{test})
    </insert>

    <update id="updateTest" flushCache="true">
        update test
        set test = #{test}
        where tid = #{tid}
    </update>

    <delete id="deleteTest" flushCache="true">
        delete from test
        where tid = #{tid}
    </delete>
</mapper>
