<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brookezb.bhs.mapper.UserMapper">
    <resultMap id="userMap" type="com.brookezb.bhs.model.User">
        <id property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="mail" column="mail"/>
        <result property="link" column="link"/>
        <result property="enabled" column="enabled"/>
        <association property="role">
            <id property="rid" column="rid"/>
            <result property="name" column="rolename"/>
            <collection property="permissions" ofType="string">
                <result column="permission"/>
            </collection>
        </association>
    </resultMap>

    <insert id="insert">
        insert into bhs_user(rid, name, password, mail, link)
        values (#{role.rid}, #{name}, #{password}, #{mail}, #{link})
    </insert>

    <update id="update">
        update bhs_user
        <set>
            <if test="user.name != null">
                name = #{name},
            </if>
            <if test="user.mail != null">
                mail = #{mail},
            </if>
            <if test="user.link != null">
                link = #{link},
            </if>
            <if test="user.role != null">
                rid = #{role.rid}
            </if>
        </set>
        where uid = #{uid}
    </update>

    <update id="updateStatus">
        update ignore bhs_user
        set enabled = #{enabled}
        where uid = #{uid}
    </update>

    <update id="updatePassword">
        update ignore bhs_user
        set password = #{password}
        where uid = #{uid}
    </update>

    <delete id="delete">
        delete
        from bhs_user
        where uid = #{uid}
    </delete>

    <select id="selectById" resultMap="userMap">
        select bu.*, br.name as rolename, brp.permission
        from bhs_user bu
                 inner join bhs_role br on bu.rid = br.rid
                 inner join bhs_role_permission brp on br.rid = brp.rid
        where uid = #{uid}
    </select>

    <select id="selectAll" resultType="long">
        select uid
        from bhs_user
        <where>
            <if test="username != null">
                and name like concat('%', #{username}, '%')
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
    </select>

    <select id="selectAllByIdList" resultMap="userMap">
        select bu.*, br.name as rolename, brp.permission
        from bhs_user bu
                 inner join bhs_role br on bu.rid = br.rid
                 inner join bhs_role_permission brp on br.rid = brp.rid
        where bu.uid in
        <foreach collection="list" item="uid" open="(" close=")">
            #{uid}
        </foreach>
    </select>

    <select id="selectByName" resultType="com.brookezb.bhs.model.User">
        select *
        from bhs_user
        where name = #{name}
    </select>

    <select id="selectCountByRoleId" resultType="java.lang.Integer">
        select count(*)
        from bhs_user
        where rid = #{rid}
    </select>

    <select id="verifyUser" resultType="java.lang.Integer">
        select uid
        from bhs_user
        where uid = #{uid}
    </select>
</mapper>
